*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color:rgb(236, 104, 27) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 400px;
    width: 350px;
    background-color: red;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#container i{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}